/*----------Header--------------*/
header {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    background-color: #f0f0f0;
    padding: 10px;
}
header img {
    margin-right: 20px; /* Espaciado entre el logo y el título */
}
header h1 {
    font-size: 48px;
    font-weight: 300;
}
/*----------Formulario--------------*/
form {
    display: flex;
    flex-direction: column; /* Alineación vertical */
    max-width: 500px;
    margin: auto; /* Centrar */
    padding: 20px;
    border: 1px solid #ccc;
}
label {
    margin-bottom: 5px;
}
input, textarea {
    margin-bottom: 10px;
}
/*----------Tabla--------------*/
table {
    width: 100%;
    border-collapse: collapse; /* Eliminar espacios entre celdas */
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f0f0f0;
}
/*----------Footer--------------*/
footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}